{{- $image := resources.GetMatch (printf "img/**/%s" (.Destination | safeURL)) -}}

{{- if $image -}}
    {{- $Permalink := $image.RelPermalink -}}
    {{- $alt := .PlainText | safeHTML -}}
    {{- $Width := 0 -}}
    {{- $Height := 0 -}}
    {{- $Srcset := "" -}}

    {{- $galleryImage := false -}}

    {{- $notSVG := ne (path.Ext $image.Name) ".svg" -}}
    {{- if $notSVG -}}
        {{- $Width = $image.Width -}}
        {{- $Height = $image.Height -}}
        {{- $galleryImage = true -}}

        {{- if (default true .Page.Site.Params.imageProcessing.content.enabled) -}}
            {{- $small := $image.Resize `480x` -}}
            {{- $big := $image.Resize `1024x` -}}
            {{- $Srcset = printf `%s 480w, %s 1024w` $small.RelPermalink $big.RelPermalink -}}
        {{- end -}}
    {{- end -}}

    <img src="{{ $Permalink }}"
        {{ with $Width }}width="{{ . }}"{{ end }}
        {{ with $Height }}height="{{ . }}"{{ end }}
        {{ with $Srcset }}srcset="{{ . }}"{{ end }}
        loading="lazy"
        {{ with $alt }}
            alt="{{ . }}"
        {{ end }}
        {{ if $galleryImage }}
            class="gallery-image" 
            data-flex-grow="{{ div (mul $image.Width 100) $image.Height }}"
            data-flex-basis="{{ div (mul $image.Width 240) $image.Height }}px"
        {{ end }}
    >
{{- else -}}
    {{/* Add debug information */}}
    {{ printf "DEBUG: Looking for image at: img/**/%s" (.Destination | safeURL) }}
    {{ errorf "Image not found in nested folders: %s" (.Destination | safeURL) }}
{{- end -}}